.ant-input-lg,
.ant-btn-lg,
.ant-picker-large .ant-picker-input > input {
  font-size: 14px !important;
}

.ant-input-prefix {
  svg {
    width: 14px;
  }
}

.ant-select-selector {
  span {
    font-size: 14px !important;
  }
}

.ant-form-item-explain-error {
  font-size: 12px;
  margin-top: 3px;
}
