@import "variables.scss";

@each $spacing-size in $spacing-sizes {
  .m-#{$spacing-size} {
    margin: getSpacingSize($spacing-size);
  }
  .mt-#{$spacing-size} {
    margin-top: getSpacingSize($spacing-size);
  }
  .mb-#{$spacing-size} {
    margin-bottom: getSpacingSize($spacing-size);
  }
  .ml-#{$spacing-size} {
    margin-left: getSpacingSize($spacing-size);
  }
  .mr-#{$spacing-size} {
    margin-right: getSpacingSize($spacing-size);
  }
  .my-#{$spacing-size} {
    margin-top: getSpacingSize($spacing-size);
    margin-bottom: getSpacingSize($spacing-size);
  }
  .mx-#{$spacing-size} {
    margin-left: getSpacingSize($spacing-size);
    margin-right: getSpacingSize($spacing-size);
  }

  .p-#{$spacing-size} {
    padding: getSpacingSize($spacing-size);
  }
  .px-#{$spacing-size} {
    padding-left: getSpacingSize($spacing-size);
    padding-right: getSpacingSize($spacing-size);
  }
  .py-#{$spacing-size} {
    padding-top: getSpacingSize($spacing-size);
    padding-bottom: getSpacingSize($spacing-size);
  }
  .pt-#{$spacing-size} {
    padding-top: getSpacingSize($spacing-size);
  }
  .pr-#{$spacing-size} {
    padding-right: getSpacingSize($spacing-size);
  }
  .pb-#{$spacing-size} {
    padding-bottom: getSpacingSize($spacing-size);
  }
  .pl-#{$spacing-size} {
    padding-left: getSpacingSize($spacing-size);
  }
}

@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: #{$weight};
  }
}

// follow tailwind syntax

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}
