// helpers
@mixin prop($props, $value) {
  @each $prop in $props {
    #{$prop}: $value;
  }
}

// spacing
@each $key, $value in $spacing {
  @each $pkey, $pvalue in $spacing-prefix {
    .#{$pkey}-#{$key} {
      @include prop($pvalue, $value);
    }
  }
}

// display
@each $key, $value in $display {
  .#{$key} {
    display: $value;
  }
}

//flex
@each $key, $value in $flex-direction {
  .flex-#{$key} {
    flex-direction: $value;
  }
}

@each $key, $value in $justify-content {
  .justify-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $align-items {
  .items-#{$key} {
    align-items: $value;
  }
}

// position
@each $key, $value in $position {
  .#{$key} {
    position: $value;
  }
}

// width & height
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// font

@each $key, $value in $font-weight {
  .font-#{$key} {
    font-weight: $value;
  }
}

@each $key, $value in $font-size {
  .text-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $text-align {
  .text-#{$key} {
    text-align: $value;
  }
}

// custom
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
