.main-layout {
  .sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 12px;
  }
  .header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;

    .dark-mode & {
      background: #141414;

    }
  }
}
